<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Buscar no ADS Flix</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">

    <ion-searchbar
      placeholder="Digite o nome do filme..."
      animated="true"
      (ionInput)="buscarFilme($event)">
    </ion-searchbar>

    @if (carregando) {
      <div class="ion-text-center ion-padding">
        <ion-spinner name="crescent" color="primary"></ion-spinner>
        <p>Buscando nos servidores...</p>
      </div>
    } @else {

      @if (resultados.length > 0) {
        <ion-grid>
          <ion-row>
            @for (filme of resultados; track filme.id) {
              <ion-col size="12" size-md="6">
                <ion-card [routerLink]="['/detalhes', filme.id]">
                  <ion-card-header>
                    <ion-card-title>{{ filme.name || filme.title }}</ion-card-title>
                    <ion-card-subtitle>Ano: {{ filme.year || 'Não informado' }}</ion-card-subtitle>
                  </ion-card-header>
                </ion-card>
              </ion-col>
            }
          </ion-row>
        </ion-grid>
      } @else if (pesquisado) {
        <ion-item lines="none" class="ion-text-center">
          <ion-label color="medium">
            Nenhum título encontrado para essa pesquisa. 🎬
          </ion-label>
        </ion-item>
      } @else {
        <div class="ion-text-center ion-padding">
          <p color="medium">Descubra filmes e séries digitando acima!</p>
        </div>
      }

    }

  </div>
</ion-content>
