<ion-header>
  <ion-toolbar color="dark" class="navbar">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title class="navbar-title">ADS Flix</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="loading-container" *ngIf="isLoading">
    <ion-spinner name="crescent" color="danger"></ion-spinner>
    <p>Carregando filmes...</p>
  </div>

  <ion-grid *ngIf="!isLoading">
    <ion-row>
      <ion-col size="6" size-md="4" size-lg="3" *ngFor="let filme of filmes">
        <ion-card (click)="verDetalhes(filme.id)" appHoverZoom>
          <div class="poster-wrapper">
            <img [src]="getPoster(filme.poster_path)" [alt]="filme.title"/>
          </div>
          <ion-card-header>
            <ion-card-title>{{ filme.title }}</ion-card-title>
            <ion-card-subtitle>
              <ion-icon name="star" color="warning"></ion-icon>
              {{ filme.vote_average | number:'1.1-1' }}
            </ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
